body {
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: "Arial", sans-serif;
}

canvas{
    border: 3px solid yellow;
    display: block;
    margin: 21px auto;
}