body{
    background-image: url('istockphoto-1386341272-612x612.jpg');
    background-size: 90%;
}
h1{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 100px 0 0 0;
  }
section{
    background-color: rgb(192, 241, 255);
    border-radius: 5px 5px 0 0;
    margin: 1px;
    width: 300px;

}

table{
background-color:  rgb(192, 241, 255);;
    border: 10px  rgb(192, 241, 255);;
    width: 300px;
    border-radius: 0 0 10px 10px;


}

td{
   
    color: rgb(2, 2, 2);
}

tr{
    background-color: rgb(255, 238, 54);
}

button{
    border-radius: 5px;
    background-color: rgb(189, 220, 223);
}
input{
    border-radius: 5px;
    box-shadow: 50px;
    background-color: rgb(255, 246, 146);

}
div{
    margin: 10px;

}